In [13]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import numpy as np

In [14]:
df = pd.read_csv("agoda_cancellation_train.csv",)

In [21]:
df['request_nonesmoke'].value_counts()

1.0    24137
0.0     9482
Name: request_nonesmoke, dtype: int64

In [23]:
df.head(50)

,h_booking_id,booking_datetime,checkin_date,checkout_date,hotel_id,hotel_country_code,hotel_live_date,hotel_star_rating,accommadation_type_name,charge_option,h_customer_id,customer_nationality,guest_is_not_the_customer,guest_nationality_country_name,no_of_adults,no_of_children,no_of_extra_bed,no_of_room,origin_country_code,language,original_selling_amount,original_payment_method,original_payment_type,original_payment_currency,is_user_logged_in,cancellation_policy_code,is_first_booking,request_nonesmoke,request_latecheckin,request_highfloor,request_largebed,request_twinbeds,request_airport,request_earlycheckin,cancellation_datetime,hotel_area_code,hotel_brand_code,hotel_chain_code,hotel_city_code
0,-9223194055642672935,2018-06-28 21:15:00,2018-07-09 00:00:00,2018-07-13 00:00:00,6452,HK,2009-06-28 02:02:00,4.0,Hotel,Pay Now,6003835896819550002,China,0,China,2,0,0,1,CN,S.Chinese / Mainland,267.55,UNKNOWN,Invoice,CNY,False,365D100P_100P,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1192,NaN,NaN,142
1,-9222713784330706132,2018-08-10 22:31:00,2018-08-16 00:00:00,2018-08-17 00:00:00,47729,CN,2011-06-07 11:52:00,4.0,Hotel,Pay Later,6337727081989900092,South Africa,0,South Africa,2,0,0,1,ZA,English,114.15,Visa,Credit Card,ZAR,False,1D1N_1N,False,1.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN,5617,902.0,600.0,1273
2,-9222411208325704942,2018-09-14 07:55:00,2018-09-14 00:00:00,2018-09-15 00:00:00,780431,KR,2014-11-20 15:43:00,4.0,Hotel,Pay Now,4569478218455470035,South Korea,0,South Korea,2,0,0,1,KR,Korean,115.79,MasterCard,Credit Card,KRW,False,2D1N_1N,True,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,3819,NaN,NaN,2799
3,-9222220845872895471,2018-06-25 07:33:00,2018-07-02 00:00:00,2018-07-03 00:00:00,291365,JP,2011-11-21 12:27:00,3.0,Hotel,Pay Later,5223266395530630065,Singapore,0,Singapore,2,0,0,1,SG,English / United Kingdom,68.74,American Express,Credit Card,SGD,True,1D1N_100P,False,1.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,2379,466.0,236.0,1448
4,-9221127186162682116,2018-07-23 10:06:00,2018-08-09 00:00:00,2018-08-10 00:00:00,479046,TH,2013-06-06 10:04:00,3.0,Resort,Pay Later,2879166343687280017,Thailand,0,Thailand,8,0,0,2,TH,Thai,127.76,MasterCard,Credit Card,THB,False,14D100P_100P,True,1.0,0.0,0.0,1.0,0.0,0.0,0.0,2018-07-23,1506,NaN,NaN,616
5,-9220467519202693449,2018-05-03 09:25:00,2018-08-21 00:00:00,2018-08-23 00:00:00,59272,PF,2014-01-16 08:03:00,3.0,Resort,Pay Later,487519485729060048,UNKNOWN,1,Argentina,2,2,0,1,AR,English,330.36,MasterCard,Credit Card,ARS,False,7D1N_1D100P_100P,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-05-03,3146,NaN,NaN,1309
6,-9220037355644368516,2018-08-15 02:10:00,2018-08-18 00:00:00,2018-08-19 00:00:00,400966,TH,2012-10-15 11:45:00,3.5,Serviced Apartment,Pay Now,6786630583566020059,Thailand,0,Thailand,2,0,0,1,TH,English,31.48,MasterCard,Credit Card,THB,True,1D1N_1N,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1703,NaN,NaN,2477
7,-9219746746155641867,2018-07-11 20:41:00,2018-08-03 00:00:00,2018-08-06 00:00:00,69287,JP,2009-11-04 08:07:00,3.5,Hotel,Pay Later,6380734093881500045,Taiwan,0,Taiwan,3,0,0,1,TW,T. Chinese / Taiwan,470.29,MasterCard,Credit Card,TWD,False,1D1N_1N,False,1.0,0.0,0.0,1.0,0.0,0.0,0.0,2018-07-23,3959,NaN,NaN,2249
8,-9219730436418354424,2018-04-06 21:19:00,2018-07-22 00:00:00,2018-07-23 00:00:00,2973895,ID,2017-10-12 10:58:00,4.0,Hotel,Pay Now,3665253836080710020,Saudi Arabia,0,Saudi Arabia,5,0,0,1,SA,Arabic,188.80,Visa,Credit Card,SAR,True,3D100P,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,744,10.0,297.0,88
9,-9219588530948048517,2018-07-28 05:39:00,2018-07-28 00:00:00,2018-07-29 00:00:00,1120617,TH,2015-11-13 16:18:00,3.0,Hotel,Pay Now,821271446610240021,South Korea,0,South Korea,2,0,0,1,TH,Korean,25.62,Visa,Credit Card,KRW,True,365D100P_100P,False,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2663,NaN,NaN,2477
10,-9219312947204772441,2018-06-05 11:32:00,2018-07-02 00:00:00,2018-07-07 00:00:00,44165,US,2012-03-15 05:02:00,2.5,Hotel,Pay Now,7420985576200120033,Mexico,0,Mexico,2,0,0,1,MX,Spanish,541.40,Visa,Credit Card,USD,False,365D100P_100P,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2378,NaN,NaN,1682
11,-9219139934044441698,2018-06-24 16:06:00,2018-08-30 00:00:00,2018-09-02 00:00:00,4844,HK,2012-12-19 10:04:00,4.0,Hotel,Pay Now,524716146296420049,Malaysia,1,Malaysia,2,0,0,1,MY,English,322.29,MasterCard,Credit Card,MYR,True,365D100P_100P,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2528,273.0,592.0,142
12,-9218868380930029329,2018-08-11 01:17:00,2018-08-12 00:00:00,2018-08-14 00:00:00,134457,DE,2009-02-06 16:42:00,3.0,Guest House / Bed & Breakfast,Pay Now,7552767783132400012,Sweden,0,Germany,2,0,0,1,DE,Swedish,196.46,MasterCard,Credit Card,SEK,True,2D100P,False,1.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN,1622,NaN,NaN,646
13,-9218066482823847922,2018-07-10 12:51:00,2018-07-10 00:00:00,2018-07-11 00:00:00,961883,TH,2015-07-03 16:14:00,3.0,Resort,Pay Now,6505751578716750001,UNKNOWN,0,Thailand,3,0,0,2,TH,Thai,45.34,UNKNOWN,Credit Card,THB,True,7D1N_3D50P_100P,True,1.0,0.0,0.0,0.0,1.0,0.0,0.0,2018-07-11,3990,NaN,NaN,2104
14,-9216735553538001319,2018-08-26 20:54:00,2018-08-28 00:00:00,2018-08-31 00:00:00,1632361,JP,2016-12-02 06:55:00,4.0,Hotel,Pay Now,2648572844449520052,South Korea,0,South Korea,2,0,0,1,KR,Korean,270.15,MasterCard,Credit Card,KRW,True,1D100P_100P,True,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,302,NaN,NaN,2249
15,-9216570381803371740,2018-05-20 11:12:00,2018-08-04 00:00:00,2018-08-06 00:00:00,1105184,TH,2015-10-08 16:21:00,3.0,Hotel,Pay Later,7316381908392650003,Thailand,1,Thailand,2,0,0,1,TH,Thai,50.14,MasterCard,Credit Card,THB,True,3D50P_100P,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-06-06,2824,NaN,NaN,2337
16,-9216487696802692260,2018-08-28 22:40:00,2018-09-29 00:00:00,2018-09-30 00:00:00,2559209,JP,2017-07-21 18:32:00,3.0,Hotel,Pay Now,4857650503983600063,Taiwan,1,Taiwan,3,0,0,1,TW,T. Chinese / Taiwan,123.97,Visa,Credit Card,TWD,False,5D50P_100P,False,1.0,0.0,0.0,0.0,1.0,0.0,0.0,2018-08-28,5092,366.0,618.0,1403
17,-9216351780612413907,2018-07-16 11:10:00,2018-07-25 00:00:00,2018-07-27 00:00:00,59737,LK,2009-06-28 02:02:00,5.0,Hotel,Pay Now,4639648760657730071,China,0,China,6,0,0,3,CN,S.Chinese / Mainland,1262.50,Alipay,Credit Card,CNY,True,365D100P_100P,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,784,NaN,NaN,1258
18,-9216008413236595528,2018-08-03 17:16:00,2018-08-07 00:00:00,2018-08-09 00:00:00,1105091,SG,2015-12-21 13:22:00,4.0,Hotel,Pay Now,7618478854249850043,Malaysia,0,Malaysia,2,0,0,1,MY,English,177.41,Visa,Credit Card,MYR,False,365D100P_100P,True,0.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN,1646,508.0,678.0,437
19,-9215494322833174318,2018-05-27 17:15:00,2018-08-20 00:00:00,2018-08-21 00:00:00,11934,NZ,2009-06-28 02:02:00,4.0,Hotel,Pay Later,1789882971871430049,New Zealand,0,New Zealand,2,0,0,1,NZ,English,151.19,MasterCard,Credit Card,NZD,True,2D100P_100P,False,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2018-07-13,3450,159.0,232.0,2158
20,-9215299516223477771,2018-08-08 19:41:00,2018-08-17 00:00:00,2018-08-19 00:00:00,4204326,TH,2018-01-17 08:49:00,5.0,Hotel,Pay Later,6478536832377510098,Hong Kong,0,Hong Kong,1,0,0,1,HK,T.Chinese / Hongkong,285.26,MasterCard,Credit Card,HKD,False,4D51P_100P,False,1.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,5583,NaN,NaN,2477
21,-9215127336295987371,2018-07-02 16:37:00,2018-07-02 00:00:00,2018-07-03 00:00:00,3007591,VN,2017-10-25 11:48:00,2.0,Hotel,Pay Now,1942857142626360079,Vietnam,0,Vietnam,4,0,0,1,VN,Vietnamese,26.00,Visa,Credit Card,VND,True,5D100P,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5322,NaN,NaN,1276
22,-9215072291520077707,2018-05-31 22:43:00,2018-09-21 00:00:00,2018-09-22 00:00:00,108170,TH,2009-06-28 02:02:00,3.0,Hotel,Pay Later,6875284403067230052,Thailand,0,Thailand,2,0,0,1,TH,Thai,50.63,MasterCard,Credit Card,THB,True,1D1N_100P,False,1.0,1.0,1.0,1.0,0.0,0.0,0.0,2018-06-19,662,442.0,600.0,447
23,-9214893704964954564,2018-07-25 06:38:00,2018-09-28 00:00:00,2018-09-29 00:00:00,2416356,MY,2017-06-26 05:33:00,3.0,Hotel,Pay Now,6056961594302810067,Malaysia,1,Malaysia,4,0,0,1,MY,English,30.80,UNKNOWN,Credit Card,MYR,True,7D100P,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2736,NaN,NaN,2069
24,-9214481758831307254,2018-06-15 09:28:00,2018-07-28 00:00:00,2018-07-31 00:00:00,4462454,VN,2018-02-12 16:15:00,5.0,Hotel,Pay Now,7320973979908470052,Vietnam,1,Vietnam,2,0,0,1,VN,Vietnamese,257.31,Visa,Credit Card,VND,False,365D100P_100P,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3462,NaN,NaN,1462
25,-9213639002373208719,2018-09-09 00:59:00,2018-09-13 00:00:00,2018-09-14 00:00:00,1166250,TW,2016-02-26 14:50:00,3.0,Hotel,Pay Now,6552884316831090010,Taiwan,0,Taiwan,2,0,0,1,TW,T. Chinese / Taiwan,102.23,MasterCard,Credit Card,TWD,True,3D1N_1N,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3911,NaN,NaN,868
26,-9213376226664300694,2018-07-25 20:18:00,2018-07-26 00:00:00,2018-07-27 00:00:00,3092077,TH,2017-11-02 13:24:00,4.0,Hotel,Pay Now,6135222275284550037,Thailand,0,Thailand,2,0,0,1,TH,English,125.65,Visa,Credit Card,THB,True,2D100P,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3823,NaN,NaN,2477
27,-9212400017480651658,2018-07-10 20:40:00,2018-08-17 00:00:00,2018-08-18 00:00:00,1202160,MY,2016-08-25 17:43:00,3.0,Hotel,Pay Now,3228531163757950063,Malaysia,1,Malaysia,2,3,0,1,MY,English,35.39,Visa,Credit Card,MYR,True,365D100P_100P,False,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2075,NaN,NaN,1982
28,-9212352324713059731,2018-06-30 16:28:00,2018-07-01 00:00:00,2018-07-02 00:00:00,872743,JP,2015-04-01 07:05:00,5.0,Hotel,Pay Now,-7586689058487350000,Taiwan,0,Taiwan,2,2,0,2,JP,T. Chinese / Taiwan,453.16,UNKNOWN,Credit Card,TWD,True,1D20P_100P,False,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,104,856.0,86.0,2187
29,-9212040371750432979,2018-07-10 16:46:00,2018-07-10 00:00:00,2018-07-11 00:00:00,968829,MY,2015-07-10 13:58:00,0.0,Hotel,Pay Now,355103109121870093,Malaysia,0,Malaysia,4,0,0,2,MY,English,37.72,Visa,Credit Card,MYR,False,1D1N_1N,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2110,NaN,NaN,2737
30,-9211461347279804392,2018-06-24 14:36:00,2018-07-21 00:00:00,2018-07-22 00:00:00,240379,ID,2013-03-13 16:59:00,3.0,Resort,Pay Now,8462973920365980026,Indonesia,0,Indonesia,6,0,0,3,ID,Indonesian,117.54,Visa,Credit Card,IDR,False,7D50P_3D100P_100P,False,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-06-24,1871,NaN,NaN,529
31,-9211423725810585622,2018-07-30 13:19:00,2018-08-03 00:00:00,2018-08-05 00:00:00,928220,ID,2015-05-19 14:26:00,0.0,Hotel,Pay Now,7266313259347680000,Australia,0,Australia,2,0,0,1,ID,English / Australia,17.40,UNKNOWN,Credit Card,AUD,True,5D100P,False,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,3906,NaN,NaN,1816
32,-9211053303043416242,2018-07-08 21:03:00,2018-08-25 00:00:00,2018-08-27 00:00:00,2106721,KR,2017-03-30 16:14:00,4.0,Hotel,Pay Now,3218795329516660027,Malaysia,0,Malaysia,2,0,0,1,MY,English,115.90,Visa,Credit Card,MYR,True,365D100P_100P,False,1.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,3901,NaN,NaN,2459
33,-9210202687385007255,2018-09-21 00:17:00,2018-09-24 00:00:00,2018-09-25 00:00:00,387,HK,2009-11-03 08:07:00,3.0,Hotel,Pay Now,4432821297087540077,Taiwan,1,Taiwan,1,0,0,1,TW,T. Chinese / Taiwan,62.05,MasterCard,Credit Card,TWD,False,365D100P_100P,False,0.0,0.0,1.0,1.0,0.0,0.0,0.0,NaN,5084,NaN,NaN,142
34,-9209854672894202056,2018-06-12 13:33:00,2018-07-11 00:00:00,2018-07-14 00:00:00,572517,KR,2014-03-17 13:42:00,4.0,Hotel,Pay Later,5764791122589360040,South Korea,1,South Korea,2,0,0,1,KR,Korean,225.62,MasterCard,Credit Card,KRW,True,3D1N_1D100P_100P,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-06-15,1312,NaN,NaN,2459
35,-9209750103523163545,2018-06-15 07:10:00,2018-08-18 00:00:00,2018-08-19 00:00:00,88825,TH,2009-09-01 12:25:00,4.0,Resort,Pay Now,2662820681670310073,Thailand,0,Thailand,2,0,0,1,TH,Thai,97.88,K PLUS,Credit Card,THB,True,365D100P_100P,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1960,850.0,467.0,1152
36,-9209011922989435038,2018-08-08 04:11:00,2018-08-30 00:00:00,2018-09-02 00:00:00,333827,NO,2012-05-18 17:07:00,3.0,Hotel,Pay Now,5200669029388230068,Norway,0,Norway,2,0,0,1,NO,Norwegian,347.04,MasterCard,Credit Card,NOK,False,23D100P,True,1.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN,4177,NaN,NaN,920
37,-9208721648379952002,2018-08-26 22:52:00,2018-09-07 00:00:00,2018-09-08 00:00:00,133442,FR,2009-06-28 02:02:00,3.0,Hotel,Pay Now,849272874424770084,United Kingdom,0,United Kingdom,2,0,0,1,GB,English / United Kingdom,74.17,Visa,Credit Card,GBP,False,365D100P_100P,True,0.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,3621,933.0,25.0,2555
38,-9208144513141722076,2018-08-02 23:15:00,2018-08-03 00:00:00,2018-08-04 00:00:00,5378538,KR,2018-07-17 13:05:00,3.0,Hotel,Pay Now,3644609820467980013,Australia,0,Australia,2,0,0,1,GB,English,55.53,MasterCard,Credit Card,AUD,True,365D100P_100P,False,1.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,3612,NaN,NaN,2799
39,-9207970013060214714,2018-08-26 02:21:00,2018-08-26 00:00:00,2018-08-27 00:00:00,1137666,PE,2015-11-18 16:44:00,0.0,Hotel,Pay Now,9209217788362830035,Ireland,0,Peru,1,0,0,1,PE,English,16.99,UNKNOWN,Credit Card,GBP,True,1D100P,False,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,3659,NaN,NaN,557
40,-9207379529999954679,2018-09-28 23:07:00,2018-09-28 00:00:00,2018-09-29 00:00:00,547422,TH,2013-11-22 11:25:00,3.5,Hotel,Pay Now,5957392751155560095,Thailand,0,Thailand,2,1,0,1,TH,Thai,31.60,K PLUS,Credit Card,THB,False,365D100P_100P,False,1.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,1086,NaN,NaN,2477
41,-9207012604454528126,2018-07-16 20:29:00,2018-07-16 00:00:00,2018-07-17 00:00:00,1270928,TW,2016-08-09 10:20:00,3.0,Hotel,Pay Now,173242062986530078,Taiwan,0,Taiwan,2,0,0,1,TW,T. Chinese / Taiwan,66.87,Visa,Credit Card,TWD,True,7D1N_100P,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1262,NaN,NaN,2633
42,-9206906816419175265,2018-08-11 16:34:00,2018-09-21 00:00:00,2018-09-26 00:00:00,3592652,TH,2017-12-02 07:38:00,2.0,Hostel,Pay Now,2866431231825980035,Malaysia,0,Malaysia,4,0,0,1,MY,English / United Kingdom,282.72,UNKNOWN,Credit Card,MYR,False,1D100P,False,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-08-11,5891,NaN,NaN,2477
43,-9206677462336985826,2018-07-02 22:54:00,2018-08-09 00:00:00,2018-08-10 00:00:00,2269235,VN,2017-05-28 09:49:00,4.0,Hotel,Pay Now,5370207956593250028,South Korea,1,South Korea,2,0,0,1,KR,Korean,46.02,American Express,Credit Card,KRW,True,3D1N_1D100P_100P,False,1.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN,909,NaN,NaN,1119
44,-9206386553560119456,2018-07-03 21:58:00,2018-07-07 00:00:00,2018-07-08 00:00:00,758267,TW,2014-10-21 00:45:00,4.0,Hotel,Pay Now,983368692454590080,Taiwan,0,Taiwan,2,0,0,1,TW,S.Chinese / Mainland,116.30,MasterCard,Credit Card,TWD,True,365D100P_100P,False,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2016,NaN,NaN,2633
45,-9206280635807357939,2018-09-10 18:30:00,2018-09-19 00:00:00,2018-09-22 00:00:00,117012,DE,2016-09-29 20:26:00,3.0,Hotel,Pay Now,8921000316730410063,Germany,0,Germany,1,0,0,1,DE,German,317.91,Visa,Credit Card,EUR,False,1D80P_100P,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4663,NaN,NaN,2376
46,-9206196219334762174,2018-09-02 22:23:00,2018-09-20 00:00:00,2018-09-21 00:00:00,4167107,FR,2018-01-16 03:06:00,3.0,Hotel,Pay Later,6676727095949100045,Japan,0,Japan,2,0,0,1,JP,Japanese,144.40,JCB,Credit Card,JPY,True,4D100P_0D100P_100P,False,1.0,0.0,0.0,0.0,1.0,0.0,0.0,2018-09-03,2662,NaN,NaN,346
47,-9205607945951010505,2018-07-13 14:06:00,2018-08-05 00:00:00,2018-08-06 00:00:00,247575,TW,2010-12-16 07:10:00,4.0,Hotel,Pay Now,6649422933209880082,Taiwan,0,Taiwan,4,0,0,1,TW,T. Chinese / Taiwan,97.39,JCB,Credit Card,USD,True,365D100P_100P,False,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,1493,NaN,NaN,2547
48,-9205208168378221870,2018-07-27 21:56:00,2018-07-28 00:00:00,2018-07-29 00:00:00,2616748,VN,2017-08-18 16:17:00,2.0,Hotel,Pay Now,4928690054979830079,South Korea,0,South Korea,2,0,0,1,VN,Korean,19.72,MasterCard,Credit Card,USD,True,7D1N_3D100P_100P,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5293,NaN,NaN,794
49,-9205092599664237713,2018-07-06 12:54:00,2018-07-07 00:00:00,2018-07-08 00:00:00,69356,TH,2014-07-15 08:05:00,3.0,Hotel,Pay Now,2260038697146360078,Thailand,1,Thailand,2,0,0,1,TH,Thai,50.14,MasterCard,Credit Card,THB,True,365D100P_100P,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3115,NaN,NaN,2452