In [3]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import numpy as np

In [4]:
df = pd.read_csv("City_Temperature.csv",na_values="")

In [34]:
df.describe()

               Year         Month           Day          Temp
count  32439.000000  32439.000000  32439.000000  32439.000000
mean    2006.282993      6.462838     15.715343     14.591294
std        7.267451      3.452580      8.800993     13.264286
min     1995.000000      1.000000      1.000000    -72.777778
25%     2000.000000      3.000000      8.000000     11.222222
50%     2006.000000      6.000000     16.000000     15.888889
75%     2012.000000      9.000000     23.000000     20.888889
max     2020.000000     12.000000     31.000000     35.222222

In [35]:
df[['Temp']].idxmin()

Temp    1453
dtype: int64

In [37]:
df.iloc[1453]

Country    South Africa
City           Capetown
Date         1998-12-24
Year               1998
Month                12
Day                  24
Temp         -72.777778
Name: 1453, dtype: object

In [49]:
df['Country'].unique()

array(['South Africa', 'The Netherlands', 'Israel', 'Jordan'],
      dtype=object)

In [23]:
df['Country'].unique()

array(['South Africa', 'The Netherlands', 'Israel', 'Jordan'],
      dtype=object)

In [32]:
df.loc[df['Country'] == 'Jordan']['City'].unique()

array(['Amman'], dtype=object)