In [28]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import numpy as np

In [35]:
df = pd.read_csv("agoda_cancellation_train.csv")
df = df.fillna(" ")

In [36]:
df['request_nonesmoke'].value_counts()

       25040
1.0    24137
0.0     9482
Name: request_nonesmoke, dtype: int64

In [37]:
df.head()
df.shape

(58659, 39)

In [38]:
only_can = df.loc[df['cancellation_datetime'] != " "]

In [42]:
only_can.head()

,h_booking_id,booking_datetime,checkin_date,checkout_date,hotel_id,hotel_country_code,hotel_live_date,hotel_star_rating,accommadation_type_name,charge_option,h_customer_id,customer_nationality,guest_is_not_the_customer,guest_nationality_country_name,no_of_adults,no_of_children,no_of_extra_bed,no_of_room,origin_country_code,language,original_selling_amount,original_payment_method,original_payment_type,original_payment_currency,is_user_logged_in,cancellation_policy_code,is_first_booking,request_nonesmoke,request_latecheckin,request_highfloor,request_largebed,request_twinbeds,request_airport,request_earlycheckin,cancellation_datetime,hotel_area_code,hotel_brand_code,hotel_chain_code,hotel_city_code
4,-9221127186162682116,2018-07-23 10:06:00,2018-08-09 00:00:00,2018-08-10 00:00:00,479046,TH,2013-06-06 10:04:00,3.0,Resort,Pay Later,2879166343687280017,Thailand,0,Thailand,8,0,0,2,TH,Thai,127.76,MasterCard,Credit Card,THB,False,14D100P_100P,True,1.0,0.0,0.0,1.0,0.0,0.0,0.0,2018-07-23,1506,,,616
5,-9220467519202693449,2018-05-03 09:25:00,2018-08-21 00:00:00,2018-08-23 00:00:00,59272,PF,2014-01-16 08:03:00,3.0,Resort,Pay Later,487519485729060048,UNKNOWN,1,Argentina,2,2,0,1,AR,English,330.36,MasterCard,Credit Card,ARS,False,7D1N_1D100P_100P,True,,,,,,,,2018-05-03,3146,,,1309
7,-9219746746155641867,2018-07-11 20:41:00,2018-08-03 00:00:00,2018-08-06 00:00:00,69287,JP,2009-11-04 08:07:00,3.5,Hotel,Pay Later,6380734093881500045,Taiwan,0,Taiwan,3,0,0,1,TW,T. Chinese / Taiwan,470.29,MasterCard,Credit Card,TWD,False,1D1N_1N,False,1.0,0.0,0.0,1.0,0.0,0.0,0.0,2018-07-23,3959,,,2249
13,-9218066482823847922,2018-07-10 12:51:00,2018-07-10 00:00:00,2018-07-11 00:00:00,961883,TH,2015-07-03 16:14:00,3.0,Resort,Pay Now,6505751578716750001,UNKNOWN,0,Thailand,3,0,0,2,TH,Thai,45.34,UNKNOWN,Credit Card,THB,True,7D1N_3D50P_100P,True,1.0,0.0,0.0,0.0,1.0,0.0,0.0,2018-07-11,3990,,,2104
15,-9216570381803371740,2018-05-20 11:12:00,2018-08-04 00:00:00,2018-08-06 00:00:00,1105184,TH,2015-10-08 16:21:00,3.0,Hotel,Pay Later,7316381908392650003,Thailand,1,Thailand,2,0,0,1,TH,Thai,50.14,MasterCard,Credit Card,THB,True,3D50P_100P,False,,,,,,,,2018-06-06,2824,,,2337

In [109]:
df2 = only_can
a = df['request_airport'].value_counts()
a

0.0    33384
       25040
1.0      235
Name: request_airport, dtype: int64

In [65]:
df2.head()

,h_booking_id,booking_datetime,checkin_date,checkout_date,hotel_id,hotel_country_code,hotel_live_date,hotel_star_rating,accommadation_type_name,charge_option,h_customer_id,customer_nationality,guest_is_not_the_customer,guest_nationality_country_name,no_of_adults,no_of_children,no_of_extra_bed,no_of_room,origin_country_code,language,original_selling_amount,original_payment_method,original_payment_type,original_payment_currency,is_user_logged_in,cancellation_policy_code,is_first_booking,request_nonesmoke,request_latecheckin,request_highfloor,request_largebed,request_twinbeds,request_airport,request_earlycheckin,cancellation_datetime,hotel_area_code,hotel_brand_code,hotel_chain_code,hotel_city_code
4,-9221127186162682116,2018-07-23 10:06:00,2018-08-09 00:00:00,2018-08-10 00:00:00,479046,TH,2013-06-06 10:04:00,3.0,Resort,Pay Later,2879166343687280017,Thailand,0,Thailand,8,0,0,2,TH,Thai,127.76,MasterCard,Credit Card,THB,False,14D100P_100P,True,1.0,0.0,0.0,1.0,0.0,0.0,0.0,2018-07-23,1506,,,616
5,-9220467519202693449,2018-05-03 09:25:00,2018-08-21 00:00:00,2018-08-23 00:00:00,59272,PF,2014-01-16 08:03:00,3.0,Resort,Pay Later,487519485729060048,UNKNOWN,1,Argentina,2,2,0,1,AR,English,330.36,MasterCard,Credit Card,ARS,False,7D1N_1D100P_100P,True,,,,,,,,2018-05-03,3146,,,1309
7,-9219746746155641867,2018-07-11 20:41:00,2018-08-03 00:00:00,2018-08-06 00:00:00,69287,JP,2009-11-04 08:07:00,3.5,Hotel,Pay Later,6380734093881500045,Taiwan,0,Taiwan,3,0,0,1,TW,T. Chinese / Taiwan,470.29,MasterCard,Credit Card,TWD,False,1D1N_1N,False,1.0,0.0,0.0,1.0,0.0,0.0,0.0,2018-07-23,3959,,,2249
13,-9218066482823847922,2018-07-10 12:51:00,2018-07-10 00:00:00,2018-07-11 00:00:00,961883,TH,2015-07-03 16:14:00,3.0,Resort,Pay Now,6505751578716750001,UNKNOWN,0,Thailand,3,0,0,2,TH,Thai,45.34,UNKNOWN,Credit Card,THB,True,7D1N_3D50P_100P,True,1.0,0.0,0.0,0.0,1.0,0.0,0.0,2018-07-11,3990,,,2104
15,-9216570381803371740,2018-05-20 11:12:00,2018-08-04 00:00:00,2018-08-06 00:00:00,1105184,TH,2015-10-08 16:21:00,3.0,Hotel,Pay Later,7316381908392650003,Thailand,1,Thailand,2,0,0,1,TH,Thai,50.14,MasterCard,Credit Card,THB,True,3D50P_100P,False,,,,,,,,2018-06-06,2824,,,2337